.footer {
    background-color: #f7f7f7;
    &__row {
        display: flex;
        padding: 100px 0px;
        align-items: center;
        @media (max-width: 1200px) {
            padding: 30px 0px;
        }
    }

    &__column {
        flex: 0 1 33.333%;
    }

    &__adress {
        color: #848789;
        font-family: "Lato";
        font-size: 14px;
        line-height: 17.87px;
        p {
            &:first-child {
                font-weight: 700;
            }
        }
    }

    &__social {
    }

    &__dev {
    }

    @media (max-width: 1200px) {
        paddding: 50px 0;
    }
    @media (max-width: 600px) {
        paddding: 30px 0;
        &__row {
            flex-direction: column;
            text-align: center;
        }
        &__adress {
            padding: 0;
        }

        &__social {
            margin: 15px 0;
        }
    }
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    &__link {
        margin: 0 7.5px;
    }
}
.dev {
    display: flex;
    justify-content:flex-end;
    &__text {
        color: #848789;
        font-family: "Lato";
        font-size: 14px;
        font-style: italic;
        line-height: 17.87px;
        padding: 5px 8px 0 0;
    }

    &__icon {
    }
}


